[Desktop Entry]
Version=1.0
Name=SeaMonkey
Exec=/opt/apps/org.seamonkey-project.seamonkey/files/seamonkey
Terminal=false
Icon=seamonkey
Type=Application
Categories=Development;