[Desktop Entry]
Name=Thunderbird
Name[zh_CN]=雷鸟邮件
Version=1.0
Exec=/opt/apps/net.thunderbird/files/thunderbird
Comment=Thunderbird
Icon=/opt/apps/net.thunderbird/files/chrome/icons/default/default128.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/x-vcard;